<p><%= @task.name%></p>
<% if @task.person %>
<p><%= @task.person%></p>
<% else %>
<button><%= link_to "Add a person to this task", edit_task_path %></button>
<% end %>
<button><%= link_to "All tasks", tasks_path %></button>
<button><%= link_to "Edit task", edit_task_path %></button>
<button><%= link_to "Delete task", task_path(@task), method: :delete %></button>
